<form >
    <div class="form-group row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10">
            <center>
                <label for="ex1">Enter Your Name</label>
                <div id="loader" class="load" ></div>
            </center>
            <input class="form-control" id="ex1" ng-model="fname" type="text" required>
        </div>
        <div class="col-xs-1">
        </div>
    </div>

    <div class="row">
        <center>
            <button type="button" class="btn btn-primary" ng-click="startJudging()">Start Judging</button>
            <button type="button" class="btn btn-primary" ng-click="gotoCreateLink()">Create Your Link</button>
        </center>
       </div>
       <div id="input" ng-hide="1">
        {{link}}
        </div>
        <br>
        <center>
        <button type="button" class="btn btn-info" ng-show="link" onclick="copyToClipboard('#input')">Copy to Clipboard</button>
        </center>
</form>


<div ng-show="loginStatus">
<h3>{{name}}'s Previous Responses</h3>
<p ng-hide="done"> Judge {{name}} to view other people response</p>
<table class="table table-striped" ng-show="done">
    <thead>
        <tr>
            <th>Name</th>
            <th>Right Answers</th>
            <th>View Response</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="data in userResponse ">
            <td>{{data.friend.name}}</td>
            <td>{{data.count}}</td>
            <td><button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal" ng-click="singleResponse(data.friend.friend_id)">Click Here</button></td>
        </tr>
        </tbody>
</table>
</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{name}} Responses</h4>
      </div>
      <div class="modal-body">
        <div ng-repeat="data in singleResponseData">
        <strong>Question:</strong> {{data.question}}<br>
        <strong>Answer</strong>: {{data.option}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<br><br>

